   body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #757272;
    color:white;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    display: flex;
    padding:10px ;
  
}
.home a{
    background-color:hover(rgba(255, 0, 85, 0.81))  
}
header h1 {
    margin: 0;
    font-family: cursive;
    color: rgba(255, 0, 85, 0.81);
}

header p{
    font-family:monospace;
}

.nav{
    display: flex;  
    gap: 30px;
    margin-left: 40%;
    align-items: center;
   
}

section{
    display: flex;
    margin-top: 3px;
    align-items: center;
    background-color: black;
    padding: 40px;

}
.about h4{
    color: gray;
    text-align:left;
    margin-left: 50px;
}
.about h1{
    font-weight: bold;
    font-size: xxx-large;
    text-align: left;
    margin-bottom:30px ;
}
.home{
    color:rgba(255, 0, 85, 0.81) ;
}
.about{
    width: 3/4;
    color: white;
    text-align: center;
}
 section p{
   letter-spacing: 1px;
    word-spacing: 7px;
 }
.cv{
    border: 2px solid white;
    background-color: transparent;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.image{
    width: 1/4;
}
.image img{
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
    height: 40%;
}
button{
    width: 120px;
    height: 40px;
    font-weight: bolder;
}
.list{
    background-color:#1a1a1a ;
}

section h2,h3{
    text-align: center;
    color:rgba(255, 0, 85, 0.81) ;
    font-size: larger;
    /* font-family: italic; */
    font-style: italic;
}
section u{
    color:rgba(255, 0, 85, 0.81) ;
    font-style: italic;
    font-size: xx-large;
}
.intro{
    width: 3/4;
}
.intro p{
    text-align: center;
    color: #757272;   
}
.image1{
    width: 1/4;
}
.image1 img{
    margin-top: 20px;
    margin-left: 20px;
    width: 80%;
    height: 40%;
}

footer {
    color: white;
    padding: 64px;
    display: flex;
    gap: 40%;
    height: 10px;
  
}

.icon {
    display: flex;
    color: white;
    box-sizing: border-box;
    width: 20px;
}
.icon a {
    font-size: 44px;
    color: white;
}
.icon-item {
    display: flex;
    gap: 13px;
    padding: 20px;
    flex-direction: column;

}
.icon1-item {
    display: flex;
    gap: 13px;
    padding: 20px;
    flex-direction: column;
}
